<h3>Nonlinear Degenerate Parabolic Equations</h3>
While receiving a technical undergraduate education, one oftentimes meets the linear PDE of mathematical physics, such as the Poisson equation
\[ \Delta u=f\]
or the heat (diffusion) equation
\[ u_t=\Delta u\]
Though these equations are useful models for many physical phenomena, linearity is typically only a first approximation to the underlying physics, for which reason the observations in some situations will disagree strongly with the mathematical models. Nonlinear equations are more difficult to analyze, but oftentimes can capture more relevant dynamics. In particular, I am interested in the family of nonlinear diffusion equations, the archetypal example of which is the Porous Medium Equation (PME)
\[ u_t=\Delta (u^m)\]
In contrast to the case of linear diffusion, heat waves in the PME move with finite speed. Description of the motion of heat waves, as well as the well-posedness and regularity problems for more complicated equations have many interesting technical aspects.
