
{% extends "plainsem.j2" %}

{% block pagetitle %}FIT Mathematical Sciences Graduate Seminar{% endblock %}

{% block pagedesc %}Florida Tech Mathematical Sciences Graduate Seminar{% endblock %}

{% block seminarName %}Graduate Seminar{% endblock %}

{% block imgRight %}<img alt="" src="http://my.fit.edu/~awelters/FITlogo.png" width="100" height="100"> {% endblock %}

{% block seminarQuote %}The mathematical sciences department graduate seminar is a venue for expository talks and presentations on research by undergraduate 
students, graduate students, and faculty members. Anyone interested is welcome to attend and participate.
<br /> <br /> The seminar is currently organized by Jonathan Goldfarb. Please send an email to <a href="mailto:jgoldfar@my.fit.edu?subject=Department%20Graduate%20Seminar">jgoldfar<span style="display: none;">ob</span>@my.fit.edu</a>
 with your suggestions for future talks, as well as any questions or comments.{% endblock %}

{% block tabsMenu %}
<li><a href="#tabs-fa14"><h4 style="margin-top: 2px; margin-bottom: 2px;">Fall 2014</h4></a>
<li><a href="#tabs-sp14"><h4 style="margin-top: 2px; margin-bottom: 2px;">Spring 2014</h4></a>
{% endblock %}

{% import "macros.j2" as macros %}
{% block tabs %}
<!-- Begin fall 2014 table/tab -->
    <div id="tabs-fa14" style="padding: 0px;">
<table class="pure-table pure-table-horizontal regular-text" style="width: 100%;">
<thead> 
<tr>
<th> Date and Time </th> <th> Speaker </th> <th> Title &amp; Abstract </th>
</tr>
</thead> 
{% set defaultloc='Evans Library 133' %}
{% set defaulttime='4 - 5pm' %}
{% set defaultaffil='Math Sciences Department<br /> Florida Tech' %}
<tbody>
{{ macros.render_seminar_entry('September 9, 2014', defaulttime, defaultloc, 'Jonathan Goldfarb', defaultaffil, 
'Numerical Methods for Solving Optimal Control Problems for the Second Order Parabolic PDEs') }}
{#
{{ macros.render_seminar_entry('September 9, 2014', defaulttime, defaultloc, '', '', '') }}
{{ macros.render_seminar_entry('date', defaulttime, defaultloc, '', '', 
'',
 '') }} (TBA)
{{ macros.render_seminar_entry('date', defaulttime, defaultloc, 'name', defaultaffil, 
'title',
 'abstract') }}
{{ macros.render_empty_seminar_entry('date', 'reason')}}
#}

{{ macros.render_seminar_entry('September 30, 2014', defaulttime, defaultloc, 'Ryan White', defaultaffil, 
'An Operational Calculus Approach to Random Walks on Random Lattices',
'In this talk, we discuss a particular class of stochastic processes for modeling the accumulation of damage to networks or systems experiencing a sequence of attacks that incapacitate random numbers of nodes (e.g. components), each with a random weight (e.g. a cost). Each component has threshold(s) whose crossing indicate the system entering a critical state. An operational calculus strategy is used to derive probabilistic information about the process within random vicinities of passage times. Necessary ideas from (measure-theoretic) probability theory are introduced.') }}

{{ macros.render_seminar_entry('October 7, 2014', defaulttime, defaultloc, 'Joao Alberto de Faria', defaultaffil, 
'Automorphism Groups of Rational Functions',
 'In this talk, we will discuss two algorithms to compute automorphism groups for single variable rational functions. These algorithms come directly from the paper "Computing Conjugating Sets and Automorphism Groups of Rational Functions", by Faber, Manes, and Viray. Throughout the talk, necessary ideas from algebra and dynamics will be introduced as needed. Afterwords, we will explain the connections between the current algorithms to my own work, which is making them work in higher dimensional cases.') }}

 {{ macros.render_empty_seminar_entry('October 14, 2014', 'No talk (Holiday)')}}

{{ macros.render_seminar_entry('November 4, 2014', defaulttime, defaultloc, '', '', 
'',
 '') }}

{{ macros.render_empty_seminar_entry('November 11, 2014', 'No talk (Holiday)')}}
{{ macros.render_seminar_entry('November 18, 2014', defaulttime, defaultloc, 'Rana Haber', defaultaffil, 
'',
 '') }}
{{ macros.render_seminar_entry('November 25, 2014', defaulttime, defaultloc, '', '', 
'',
 '') }}
 
 {{ macros.render_seminar_entry('December 2, 2014', defaulttime, defaultloc, '', '', 
'',
 '') }}

</tbody>
</table>
    </div>
<!-- Begin Fall 2014 table/tab -->


<!-- Begin Spring 2014 table/tab -->    
    <!--<h3>Spring 2014</h3>-->
    <div id="tabs-sp14" style="padding: 0px;">
<table class="pure-table pure-table-horizontal regular-text" style="width: 100%;">
<thead> 
<tr>
<th> Date and Time </th> <th> Speaker </th> <th> Title &amp; Abstract </th>
</tr>
</thead> 
<tbody>
{% set defaultloc='Quad 111' %}
{% set defaulttime='10 - 11am' %}
{% set defaultaffil='Math Sciences Department<br /> Florida Tech' %}

{#
{{ macros.render_seminar_entry('date', defaulttime, defaultloc, 'name', defaultaffil, 
'title',
 'abstract') }}
{{ macros.render_empty_seminar_entry('date', 'reason')}}
#}

{{ macros.render_seminar_entry('Jan. 27, 2014', defaulttime, 'Skurla 106', 'Jonathan Goldfarb', defaultaffil, 
'Introduction to Sobolev Spaces I',
 'The seminar will introduce notation and concepts relevant to weak differentiation and Sobolev spaces, with applications to partial differential equations of mathematical physics. <em>Source:</em> Chapter 5 in Evans, Partial Differential Equations, with some others.') }}
{{ macros.render_seminar_entry('Feb. 10, 2014', defaulttime, 'Quad 110', 'Jonathan Goldfarb', defaultaffil, 
'Introduction to Sobolev Spaces II',
 'We continue with properties of weak differentiation and basic facts of Sobolev spaces. <em>Source:</em> Chapter 5 in Evans, Partial Differential Equations, with some others.') }}
{{ macros.render_seminar_entry('Feb. 24, 2014', defaulttime, defaultloc, 'Bruno Poggi', defaultaffil, 
'Introduction to Sobolev Spaces III',
 'We will discuss properties of Sobolev functions, and the completeness of the Sobolev space. <em>Source:</em> Chapter 5 in Evans, Partial Differential Equations.') }}
{{ macros.render_seminar_entry('Mar. 17, 2014', defaulttime, defaultloc, 'Noha Aljaber', defaultaffil, 
'Introduction to Sobolev Spaces IV',
 'In this talk, we continue our exploration of Sobolev functions by showing that the space of smooth functions is a dense subset of the Sobolev space. <em>Source:</em> Chapter 5 in Evans, Partial Differential Equations.') }}
{{ macros.render_seminar_entry('Mar. 24, 2014', defaulttime, defaultloc, 'Noha Aljaber', defaultaffil, 
'Convolution and Mollfication',
 'In this talk, we will look to the details of creating smooth approximations to badly behaved (integrable) functions. <em>Source:</em> Appendix C in Evans, Partial Differential Equations.') }}
{{ macros.render_seminar_entry('Mar. 31, 2014', defaulttime, defaultloc, 'Jeremy Mandelkern', 'Assistant Professor<br /> Eastern Florida State College<br /> Mathematics Department', 
'A Novel Method for Frobenius Type Problems Utilizing 4x4 Matrix Multiplication Recurrence Relations',
 "<p>In Balser [1, p. 18-19] a matrix formulation of the Frobenius Theory, near a regular singular point, is given resulting in a 2x2 matrix of two linearly independent solutions together with their quasi-derivatives.  In this paper we apply Balser&rsquo;s 2x2 matrix formulation to the Bessel equation,</p><p>\[ (xy')' + \\left( -\\frac{v^2}{x} + \\lambda x\\right)y=0\]</p><p>We then show that with a slight reformulation of his 2x2 matrix recurrence relation, we can generate an equivalent recurrence relation through a &ldquo;vectorization&rdquo; procedure.  This reformulated approach succeeds in overcoming the rather cumbersome coupling associated with Balser&rsquo;s 2x2 matrix recursion.  As a result of the vectorization procedure, the 2x2 matrix recurrence relation is replaced by a straightforward matrix multiplication of 4x4 matricies.</p>") }}
{{ macros.render_seminar_entry('Apr. 7, 2014', defaulttime, defaultloc, 'Ryan White', defaultaffil, 
'Introduction to Sobolev Spaces V',
 'In this talk, we continue our exploration of Sobolev functions by establishing how Sobolev functions can be extended to larger domains while satisfying appropriate inequalities. This extension allows results established with the domain of the whole space to be appropriately generalized to smaller domains. <em>Source:</em> Chapter 5 in Evans, Partial Differential Equations.') }}
{{ macros.render_seminar_entry('Apr. 14, 2014', defaulttime, defaultloc, 'Osita Onyejekwe', defaultaffil, 
'Regression for Parametric and Nonparametric Estimation',
 'In this talk Linear, Polynomial, and Kernel Regression analysis will be introduced. It follows by application of regression method for parametric and nonparametric estimation through simulations. It will be concluded by addressing the important questions regarding selection of polynomial order in parametric estimation as well as selection of the bandwidth in nonparametric estimation.') }}
{{ macros.render_seminar_entry('Apr. 21, 2014', defaulttime, defaultloc, 'Elvira Erhardt', defaultaffil, 
'Statistical Multiple Testing for Analysis of Imaging Response in Simulated Brain Images',
 'In this talk different methods of multiple testing will be introduced. Voxel-wise test of significance will then be discussed by application of Bonferroni and FDR correction to imaging response in simulated brain images. It will be concluded by statistical estimation of background and standardizing the test statistics using the estimated parameters.') }}

</tbody>
</table>
    </div>
<!-- End Spring 2014 table/tab -->
{% endblock %}