{% macro render_seminar_tab(title, id) -%}
	<li><a href="#{{ id }}"><h4 style="margin-top: 2px; margin-bottom: 2px;">{{ title }}</h4></a>
{%- endmacro %}

{% macro render_seminar_tab_start(id) -%}
	<div id="{{ id }}" style="padding: 0px;">
	<table class="pure-table pure-table-horizontal regular-text" style="width: 100%;">
	<thead> 
	<tr>
	<th> Date and Time </th> <th> Speaker </th> <th> Title &amp; Abstract </th>
	</tr>
	</thead>
	<tbody>
{%- endmacro %}

{% macro render_seminar_tab_end() -%}
	</tbody>
	</table>
	</div>
{%- endmacro %}

{% macro render_sidebar_button(title, link) -%}
	  <tr><td class="navbutton">
	  <a href="{{link}}">{{ title }}</a>
	  </td></tr>
{%- endmacro %}

{% macro render_seminar_entry(date, time, loc, name, affiliation, title, abstract) -%}
<tr>
<td style="width: 23%;">
<div class="left_col">{{date}}<br /> {{time}}<br /> {{loc}}</div>
</td>
<td style="width: 23%;">
<div class="center_col">{% if name and name !='' %}{{name}} {%else%} Speaker TBA {%endif%}<br />{% if affiliation and affiliation != '' %}{{affiliation}}{% endif %}</div>
</td>
<td style="min-width: 50%;">
<div class="right_col"><strong>Title:</strong> {% if title %}{{title}}{% else %}TBA {%endif%} 
{% if abstract %}<br /><strong>Abstract:</strong> {{abstract}}
{% endif %}</div>
</td>
</tr>
{%- endmacro %}

{% macro render_empty_seminar_entry(date, reason) -%}
<tr>
<td style="width: 23%;">
<div class="left_col">{{date}}<br /> {% if reason %}<strong>{{reason}}</strong>{%endif%}</div>
<td style="width: 23%;"></td>
<td style="min-width: 50%;"></td>
</td>
</tr>
{%- endmacro %}

{% macro process_course_listings(courses) -%}
<ul>
{% for courseurl, coursename in courses %}
  <li><a href="{{courseurl}}">{{coursename}}</a></li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro render_course_listing(id, name, courses) -%}
<div>
<h3><a name="courses-{{id}}"></a>{{name}}</h3>
process_course_listings(courses)
</div>

{%- endmacro %}