{% macro render_sidebar_button(title, link) -%}
	  <tr><td class="navbutton">
	  <a href="{{link}}">{{ title }}</a>
	  </td></tr>
{%- endmacro %}

{% macro render_seminar_entry(date, time, loc, name, affiliation, title, abstract) -%}
<tr>
<td style="width: 23%;">
<div class="left_col">{{date}}<br /> {{time}}<br /> {{loc}}</div>
</td>
<td style="width: 23%;">
<div class="center_col">{% if name and name !='' %}{{name}} {%else%} Speaker TBA {%endif%}<br />{% if affiliation and affiliation != '' %}{{affiliation}}{% endif %}</div>
</td>
<td style="min-width: 50%;">
<div class="right_col"><strong>Title:</strong> {% if title %}{{title}}{% else %}TBA {%endif%} 
{% if abstract %}<br /><strong>Abstract:</strong> {{abstract}}
{% endif %}</div>
</td>
</tr>
{%- endmacro %}

{% macro render_empty_seminar_entry(date, reason) -%}
<tr>
<td style="width: 23%;">
<div class="left_col">{{date}}<br /> {% if reason %}<strong>{{reason}}</strong>{%endif%}</div>
<td style="width: 23%;"></td>
<td style="min-width: 50%;"></td>
</td>
</tr>
{%- endmacro %}