---
extends: main.j2
title: Teaching
description: 
---

{% block breadcrumbs -%}
	<a href="{{content_url('/')}}">Home</a>:<a href="{{content_url('course')}}">{{resource.meta.title}}</a>
{%- endblock %}

{% block content_body %}
	  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
	  <h2>Teaching</h2>	  
<div>
<h3><a name="courses-sp15"></a>Spring 2015</h3>
{% include "current-teaching.j2" %}
</div>
	  <hr size="2" width="70%" />
<div>
<h3><a name="courses-fa14"></a>Fall 2014</h3>
<ul>
<li><a href="mth0111/">MTH 0111: Intermediate Algebra</a> 
<li><a href="mth1701/">MTH 1701: College Algebra</a>
<li><a href="mth1702/">MTH 1702: Applied Calculus</a> 
<li><a href="mth3210/">MTH 3210: Introduction to PDE</a> (<em>As TA</em>)
</ul>
</div>
<div>
<h3><a name="courses-su14"></a>Summer 2014</h3>
<ul>
<li><a href="http://my.fit.edu/~abdulla/reu/">FIT REU in PDEs and Dynamical Systems</a> 
</ul>
</div>
<div>
<h3><a name="courses-sp14"></a>Spring 2014</h3>
{% include "current-teaching.j2" %}
</div>
	  <div>
<h3><a name="courses-fa13"></a>Fall 2013</h3>
<ul>
<li><a href="mth0111/">MTH 0111: Intermediate Algebra</a> 
<li><a href="mth1701/">MTH 1701: College Algebra</a> 
<li><a href="mth1702/">MTH 1702: Applied Calculus</a> 
<li><a href="mth3210/">MTH 3210: Introduction to PDE</a> (<em>As TA</em>)
</ul>
</div>
<div>
<h3><a name="courses-su13"></a>Summer 2013</h3>
<ul>
<li><a href="http://floridatech.orgsync.com/org/siam/Summer_Camp">SIAM Applied Math Summer Program: 2013</a>  <!--<a href="http://floridatech.orgsync.com/org/siam/Summer_Camp_2013">Flyer Here</a>--><br />(<em>With Dr. Mine Subasi, Rana Haber, and Ryan White</em>)
<li><a href="mth1701/">MTH 1701: College Algebra</a> 
<li><a href="mth0111/">MTH 0111: Intermediate Algebra</a> 
<li><a href="mth3210/">MTH 3210: Introduction to PDE</a> (<em>As TA</em>)
</ul>
<h3><a name="courses-sp13"></a>Spring 2013</h3>
<ul>
<li><a href="mth1702/">MTH 1702: Applied Calculus</a> 
<li><a href="mth1603/">MTH 1603: Applied Calculus and Statistics</a>
<li><a href="mth3210/">MTH 3210: Introduction to PDE</a> (<em>As TA</em>)
</ul>
<h3><a name="courses-fa12"></a>Fall 2012</h3>
<ul>
<li><a href="mth1701/">MTH 1701: College Algebra</a> 
<li><a href="mth0111/">MTH 0111: Intermediate Algebra</a>
<li><a href="mth3210/">MTH 3210: Introduction to PDE</a> (<em>As TA</em>)
</ul>
<h3><a name="courses-su12"></a>Summer 2012</h3>
<ul>
<li><a href="mth5401/">MTH 5401: Applied Statistical Analysis</a> (<em>As Lab Assistant</em>)
<li><a href="mth3210/">MTH 3210: Introduction to PDE</a> (<em>As TA</em>)
</ul>
</div>
	  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% endblock %}
