{{ define "aboveHeader" }}
<tr><td class="blogTitle" colspan="2">
    <div class="blogTitle">
        n+1 Problems, &varepsilon; Progress
    </div>
    <div class="blogSubtitle">
        a mathematical blog
    </div>
</td>
</tr>
{{ end }}

{{ define "titleDisplay" }}
<td class="postTitle">
    {{ with .Title }}
    <div class="postTitle">
        {{.}}
    </div>
    {{ end }}
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
<ul class="tags">
<span class="date">
    Published: {{ .Date | dateFormat "Jan 2, 2006" }}
</span>
    {{ range .Params.tags }}
        : <span class="tag"><a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a></span>
    {{ end }}
</ul>
</td>
{{ end }}

{{ define "sidebar" }}
{{ partialCached "blog/sidebar.html" . }}
{{ end }}

{{ define "mainContent" }}
{{ .Content }}

{{ template "_internal/disqus.html" . }}
{{ end }}
