{{ define "mainContent" }}

{{ .Content }}

<h2>Recent Semester</h2>

{{/*
{{ partial "currentCourses.html" . }}
*/}}

{{ partial "processCourseListings.html" (dict "id" "fa16" "name" "Fall 2016-Fall 2018" "Data" $.Site.Data.course.y16.FA.courses) }}

<h2>Previous Semesters</h2>

<!-- AY15-16 -->
{{ partial "processCourseListings.html" (dict "id" "sp16" "name" "Spring 2016" "Data" $.Site.Data.course.y16.SP.courses) }}

{{ partial "processCourseListings.html" (dict "id" "fa15" "name" "Fall 2015" "Data" $.Site.Data.course.y15.FA.courses) }}

{{ partial "processCourseListings.html" (dict "id" "su15" "name" "Summer 2015" "Data" $.Site.Data.course.y15.SU.courses) }}


<!-- AY14-15 -->
{{ partial "processCourseListings.html" (dict "id" "sp15" "name" "Spring 2015" "Data" $.Site.Data.course.y15.SP.courses) }}

{{ partial "processCourseListings.html" (dict "id" "fa14" "name" "Fall 2014" "Data" $.Site.Data.course.y14.FA.courses) }}

{{ partial "processCourseListings.html" (dict "id" "su14" "name" "Summer 2014" "Data" $.Site.Data.course.y14.SU.courses) }}


<!-- AY13-14 -->
{{ partial "processCourseListings.html" (dict "id" "sp14" "name" "Spring 2014" "Data" $.Site.Data.course.y14.SP.courses) }}

{{ partial "processCourseListings.html" (dict "id" "fa13" "name" "Fall 2013" "Data" $.Site.Data.course.y13.FA.courses) }}

{{ partial "processCourseListings.html" (dict "id" "su13" "name" "Summer 2013" "Data" $.Site.Data.course.y13.SU.courses) }}


<!-- AY12-13 -->
{{ partial "processCourseListings.html" (dict "id" "sp13" "name" "Spring 2013" "Data" $.Site.Data.course.y13.SP.courses) }}

{{ partial "processCourseListings.html" (dict "id" "fa12" "name" "Fall 2012" "Data" $.Site.Data.course.y12.FA.courses) }}

{{ partial "processCourseListings.html" (dict "id" "su12" "name" "Summer 2012" "Data" $.Site.Data.course.y12.SU.courses) }}

{{ end }}
