{{ define "aboveHeader" }}
<tr><td class="blogTitle" colspan="2">
    <div class="blogTitle">
        n+1 Problems, &varepsilon; Progress
    </div>
    <div class="blogSubtitle">
        a mathematical blog
    </div>
</td>
</tr>
{{ end }}

{{ define "sidebar" }}
{{ partialCached "blog/sidebar.html" . }}
{{ end }}

{{ define "titleDisplay" }}
	{{ with .Data.Term }}
		<td>
			<div class="tagListTitle">
				Posts Tagged "{{.}}"
			</div>
		</td>
	{{ end }}
{{ end }}


{{ define "mainContent" }}
{{ .Content }}
<ul class="taxonomyListing">
{{ range .Data.tags }}
{{ .Render "li" }}
{{ end }}
</ul>

<a href="{{ $.Site.BaseURL }}tags/">Back to Tag Listing</a>
{{ end }}