<style>

 html body {
     font-family: {{ .Site.Params.font }}, sans-serif;
     background-color: {{ .Site.Params.backgroundColor | default "white" }};
     table-layout: fixed;
 }

 :root {
     --accent: {{ .Site.Params.accent | default "#2196F3" }};
     --border-width: {{ if .Site.Params.showBorder | default false }} 5px {{ else }} 0 {{ end }};
 }

 div.prevNext {
     margin-left: 10px;
 }
 div.prevNext a {
     padding-left: 10px;
     padding-right: 10px;
     text-decoration: none;
 }

 /* Style for page header */
 thead {
     width: 800px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5px;
     background-color: #EFEFE3;
 }
 thead div.name {
     float: left;
     width: 100%;
     text-align: center;
     font-family:{{ .Site.Params.fontAlternate }}, sans-serif;
     font-size: 150%;
 }
 thead div.title {
     float: right;
     font-size: 200%;
     width: 100%;
     text-align: center;
 }

</style>

<!-- main -->
<link rel="stylesheet" href="/media/css/style.css" />

<!-- custom -->
{{- range .Site.Params.css }} <link rel="stylesheet" href="{{ . }}" /> {{ end -}}

<!-- PureCSS -->
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous" />

<!-- google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.fontAlternate }}" />
