{{/*{{ printf "%#v" . }}*/}}
{{ if (index . "showOSSListing") }}
<div class="ossContainer">
<article class="ossListing">
<header>
	<a href="{{ if gt (len (index . "showLocalPage")) 0 }}/oss-contributions/{{ index . "showLocalPage"}}{{ else }}{{ index . "url" }}{{ end }}">
	{{ if gt (len (index . "postImage")) 0 }}<img src="{{ index . "postImage" }}" />{{ end }}
    <h3>{{ index . "name" }}</h3>
    {{ if gt (len (index . "language")) 0 }}
    <span class="ossLanguage">{{ index . "language" }}</span> : 
    {{ end }}{{/* end if isset language */}}
    {{ if gt (len (index . "subtitle")) 0 }}
    <span class="ossSubtitle">{{ index . "subtitle" }}</span>
    {{ end }}{{/* end if isset subtitle */}}
    </a>
</header>
</article>
</div>
{{ end }} {{/* end if showOSSListing */}}