<table align="center" class="info">
	<tr>
		<td class="inforight">
			Assistant Professor <br />and Director of MAC
		</td>
	</tr>
	<tr>
		<td class="inforight">
			Mathematical Sciences Dept.<br /> Florida Institute of Technology
		</td>
	</tr>
	<tr>
		<td class="inforight">Office: {{ .Site.Params.authorOffice }}</td>
	</tr>
	<tr>
		<td class="inforight" colspan="2">E-mail: <a href="mailto:{{ .Site.Params.authorEmail }}">{{ .Site.Params.authorEmail }}</a></td>
	</tr>
	<tr>
		<td class="inforight">Office Phone: {{ .Site.Params.authorPhone }}</td>
	</tr>
	<tr>
		<td class="inforight"><a href="{{ .Site.Params.authorGithub }}"><i class="fab fa-github"></i> Github</a></td>
	</tr>
	<tr>
		<td class="inforight"><a href="{{ .Site.Params.authorBitbucket }}"><i class="fab fa-bitbucket"></i> Bitbucket</a></td>
	</tr>
	<tr>
		<td class="inforight"><a href="{{ .Site.Params.authorGitlab }}"><i class="fab fa-gitlab"></i> Gitlab</a></td>
	</tr>
	<tr>
		<td class="inforight"><a href="{{ .Site.Params.authorResearchGate }}"><i class="fab fa-researchgate"></i> ResearchGate</a></td>
	</tr>
	<tr>
		<td class="inforight"><a href="https://hub.docker.com/u/jgoldfar/"><i class="fab fa-docker"></i> Docker Hub</a></td>
	</tr>
	<!-- <i class="fab fa-twitter"></i> -->
	<!-- <i class="fab fa-linkedin"></i> LinkedIn -->
	<!-- <i class="fab fa-kaggle"></i> Kaggle -->
</table>