<td class="sidebar">
    <table width="100%">
        <tbody>
            {{ range .Site.Menus.sidebar.ByWeight }}
            <tr><td class="navbutton">
                <a href="{{ .URL }}">
                    {{ .Name }}
                    </a>
            </td></tr>
            {{ end }}
    </tbody>
    </table>
    <hr width="90%" size=3 color="black" />
    <table align="center" class="info">
        <tr>
            <td class="inforight">
                Assistant Professor <br />and Director of MAC
            </td>
        </tr>
        <tr>
            <td class="inforight">
                Mathematical Sciences Dept.<br /> Florida Institute of Technology
            </td>
        </tr>
        <tr>
            <td class="inforight">Office: {{ .Site.Params.authorOffice }}</td>
        </tr>
        <tr>
            <td class="inforight" colspan="2">E-mail: <a href="mailto:{{ .Site.Params.authorEmail }}">{{ .Site.Params.authorEmail }}</a></td>
        </tr>
        <tr>
            <td class="inforight">Office Phone: {{ .Site.Params.authorPhone }}
        </tr>
    </table>
  <hr width="90%" size=3 color="black" />
    <table class="info">
    <tbody>
    <!--<th><td>Quick Links</td></th>-->
    <tr><td class="navbutton">
    <a href="http://cos.fit.edu/math" target="_blank">FIT Math Department</a>
    </td></tr>
    <tr><td class="navbutton">
    <a href="http://math.reu.fit.edu/blog" target="_blank">Dept. Math Blog</a>
    </td></tr>
    <tr><td class="navbutton">
    <a href="http://math.reu.fit.edu" target="_blank">FIT Math REU</a>
    </td></tr>
    <tr><td class="navbuttonInvisible">
    <a href="{{/*content_url('instruct.htm')*/}}" target="_blank">Instruct</a>
    </td></tr>
    </tbody>
    </table>
  <p>&nbsp;</p>
</td>
