{% include "preamble.j2" %}

<body>

<table class="main">
  <col />
  <col />
  <tbody>
<!--  <tr>
  <td class="spacer" colspan="2">&nbsp;</td>
  </tr>-->
    <tr class="header">
      <td></td><td class="titleimage"><h2>Jonathan Goldfarb</h2></td>
    </tr>
	<tr><td class="sidebar">&nbsp;</td>
	<td class="spacer">{% block breadcrumbs -%}
	<a href="{{/*content_url('/')*/}}">Home</a>:{{/*resource.meta.title*/}}
	{%- endblock %}</td>
  </tr>
    <tr>
     {% include "sidebar-main.j2" %}
      <td class="mainbody">
      {% block content_body %}
	  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

	  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
	  {% endblock %}
	  </td>
    </tr>
<tr><td> </td></tr>
	<tr><td class="footer" colspan="2">&nbsp;</td></tr>
  </tbody>
</table>
</body>
</html>
