{{ partial "header.html" . }}

<body>

<table class="main">
  <col />
  <col />
  <tbody>
<!--  <tr>
  <td class="spacer" colspan="2">&nbsp;</td>
  </tr>-->
    <tr class="header">
      <td></td><td class="titleimage"><h2>Jonathan Goldfarb</h2></td>
    </tr>
	<tr><td class="sidebar">&nbsp;</td>
	<td class="spacer">{% block breadcrumbs -%}
	<a href="{{/*content_url('/')*/}}">{{/*resource.meta.title*/}}</a>:
	{%- endblock %}</td>
  </tr>
    <tr>
     	{{/*{% include "sidebar-main.j2" %}*/}}
      <td class="mainbody">
      {% block content_body %}
	  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

	  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
	  {% endblock %}
	  </td>
    </tr>
  </tbody>
</table>
</body>

{{ partial "footer.html" . }}

</html>
